{% extends 'adminbase.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="page-wrapper" style="min-height: 250px;">

    <h1>Create new User</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">back to list</a>
{% endblock %}
