<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Menu</a>
    <div class="dropdown-menu">
        <a href="/user" class="dropdown-item">My Profile</a>
        <a href="/user/hotel" class="dropdown-item">My Hotels</a>
        <a href="/user/comments" class="dropdown-item">My Comments</a>
        <a href="/user/rezervations" class="dropdown-item">My Rezervations</a>
    </div>
</div>